<!--采收计划列表-->
<div class="bar bar-header bar-anywide">
    <button class="button button-clear ion-chevron-left button-anywide" ng-click="gotoHome()">&nbsp;&nbsp;&nbsp;&nbsp;</button>
    <h1 class="title">采收计划</h1>
</div>
<ion-view hide-nav-bar="true" view-title="采收计划反馈">
    <ion-content class="has-header" style="background:#F2F2F2" ng-init="recoverList()">
        <div class="taskList" style="width:92%;margin:0 auto" ng-repeat="item in data.recoverList" >
            <div style="height: 50px;line-height: 50px;font-weight: bold;color: #000000">
                {{item.harvest_on_fromat}}
            </div>
            <div class="taskBox" style=";background: #fff;overflow: hidden;padding-top: 20px">
                <p style="padding-left: 15px"><span>{{item.harvest_title}}</span></p>
                <p style="padding-left: 15px"><span>大棚：</span>{{item.house_name}}</p>
                <p style="padding-left: 15px"><span>品名：</span>{{item.crop_name}}</p>
                <p style="padding-left: 15px"><span>采收重量：</span>{{item.harvest_weight}}</p>
                <hr/>
                <div style="position: relative;top:0;left:0;height:45px;" ng-click="gotoDetail(item.harvest_plan_id)">
                    <p style="position: absolute;right:5%;bottom: 5%;color: #66bb6a;font-size: 16px;">
                        查看详情&nbsp<i class="icon ion-ios-arrow-right"></i></p>
                </div>
            </div>
        </div   >
    </ion-content>
</ion-view>
