<!-- 修改密码 -->

<ion-view view-title="修改密码">

	<ion-content>

		<div class="padding">
			<label class="item item-input">
				<input type="password" placeholder="新密码" ng-model="data.newPassword"></label>
		</div>
		
		<div class="padding">
			<label class="item item-input">
				<input type="password" placeholder="确认密码" ng-model="data.newPasswordAgain"></label>
		</div>

        <br/>
        <br/>

		<div class="padding">
			<button class="button button-block button-anywide" ng-click="change()" ng-disabled="isDisabled">修改密码</button>
		</div>

	</ion-content>

</ion-view>