<!-- 忘记密码页 -->
<style>
    .changeBor:hover{
        outline:1px solid #66BB6A;
        border: none;
    }
</style>

<ion-view view-title="找回密码">

	<ion-content>

		<div class="padding">
			<label class="item item-input changeBor">
				<input id="phoneNumber" type="number" placeholder="手机号" ng-model="data.phoneNumber" minlength="11" maxlength="11" required>
            </label>
		</div>

		<!--<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="验证码" ng-model="data.checkNumber" minlength="4" maxlength="4"></label>
		</div>-->

		<div class="row padding">
            <label class="item item-input changeBor" style="width: 60%">
                <input type="text" placeholder="验证码" ng-model="data.checkNumber" style="width: 100%;">
            </label>
            <button class="button button-anywide" ng-disabled="isDisabledActiveCode" ng-click="active()" style="margin-left:5px;width: 40%;float: right">{{clock.now}}</button>
        </div>

		<div class="padding">
			<button class="button button-block button-anywide" ng-disabled="isDisabledfindPwd" ng-click="findPassword()">找回密码</button>
		</div>

	</ion-content>

</ion-view>