

<ion-tabs class="tabs-icon-top tabs-color-active-anywide">

    <!-- 首页 -->
    <ion-tab title="首页" icon-off="icon-tabbar-home" icon-on="icon-tabbar-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- 菜园管理 href="#/tab/garden"-->
    <ion-tab title="菜园管理" icon-off="icon-abbar-farm" icon-on="icon-abbar-farm" herf="javascript:void(0)" ng-click="garden()" >
        <ion-nav-view name="tab-garden"></ion-nav-view>
    </ion-tab>

    <!-- 购物车 href="#/tab/shoppingCart"-->
    <!--<ion-tab title="部落市场" icon-off="icon-tabbar-shop" icon-on="icon-tabbar-shop" herf="javascript:void(0)" ng-click="shoppingCart()" >-->
        <!--<ion-nav-view name="tab-shoppingCart"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!-- 我的 -->
    <ion-tab title="我的" icon-off="icon-tabbar-my" icon-on="icon-tabbar-my" href="#/tab/my" >
        <ion-nav-view name="tab-my"></ion-nav-view>
    </ion-tab>

</ion-tabs>