<!-- 关于会耕部落 -->
<ion-view view-title="关于会耕部落">

	<ion-content>

		<div class="list">

			<!-- 新版本检测 -->
			<a class="item item-icon-left item-icon-right" href="javascript:void(0)" ng-click=""> <i class="icon"><h2>新版本检测</h2></i> 
				<span class="item-note">当前版本:5.3.1</span>
				<br>
				<span class="badge badge-assertive">已是最新版</span> <i class="icon ion-ios-arrow-right"></i>
			</a>

			<!-- 功能介绍 -->
			<a class="item item-icon-left item-icon-right" href="javascript:void(0)" ng-click="">
				<i class="icon"><h2>功能介绍</h2></i> 
				<span class="item-note">&nbsp;</span>
				<i class="icon ion-ios-arrow-right"></i>
			</a>

			<!-- 去评分 -->
			<a class="item item-icon-left item-icon-right" href="javascript:void(0)" ng-click="">
				<i class="icon">
					<h2>去评分</h2>
				</i>
				<span class="item-note">&nbsp;</span>
				<i class="icon ion-ios-arrow-right"></i>
			</a>

			<!-- 联系我们 -->
			<!--<a class="item item-icon-left item-icon-right" href="javascript:void(0)" ng-click="">
				<i class="icon">
					<h2>联系我们</h2>
				</i>
				<span class="item-note">&nbsp;</span>
				<i class="icon ion-ios-arrow-right"></i>
			</a>-->

		</div>

	</ion-content>
</ion-view>