<!-- 账户安全 -->
<ion-view view-title="账户安全">

	<ion-content style="background-color: #F2F2F2">

		<div class="list">

			<!-- 空格线 -->
			<div class="item item-divider" style="background-color: #F2F2F2"></div>

			<!-- 登陆密码 -->
			<a class="item item-icon-right" href="javascript:void(0)" ng-click="loginPasswordClick()">
				<h2>修改密码</h2>
				<p>* 建议您定期更改密码以保护账户安全</p> <i class="icon ion-ios-arrow-right"></i>
			</a>

			<!-- TODO 手机验证 -->
			<!-- <a class="item item-icon-right" href="javascript:void(0)" ng-click="phoneNumberClick()">
				<h2>手机验证</h2>
				<p>* 若验证手机已停用，请立即修改</p> <i class="icon ion-ios-arrow-right"></i>
			</a> -->

		</div>

	</ion-content>
</ion-view>