<!-- 我的积分-->
<ion-view view-title="我的积分">
    <ion-content scrollbar-y=true>

        <div style="background:#f3f3f3;">
            <br/> 
            <h2 style="margin-left:35%;">3000.00</h2>
			<br/>
        </div>
		
			<div class="button-bar bar-anywide">
			  <a class="button">积分商城</a>
			  <a class="button">明细</a>
			</div>
		
        <div class="list">

            

            <label class="item item-icon-right">
                <h2>土地购买奖励积分</h2>
                <p>2015-9-28 11:38:07</p> <i class="icon"><span class="item-note">+3000.00</span></i> 
            </label>

            <label class="item item-icon-right">
                <h2>千禧1号 茄子 积分抵值</h2>
                <p>2015-9-28 11:38:07</p> <i class="icon"><span class="item-note">-103.00</span></i> 
            </label>

            <label class="item item-icon-right">
                <h2>订购酸奶一年套餐 奖励积分</h2>
                <p>2015-9-28 11:38:07</p>
                <i class="icon">
                    <span class="item-note">+20000.00</span>
                </i>
            </label>

            <label class="item item-icon-right">
                <h2>地黄瓜 积分抵值</h2>
                <p>2015-9-28 11:38:07</p>
                <i class="icon">
                    <span class="item-note">-340.00</span>
                </i>
            </label>

            <label class="item item-icon-right">
                <h2>西红柿 帝都6号 积分抵值</h2>
                <p>2015-9-28 11:38:07</p>
                <i class="icon">
                    <span class="item-note">-280.00</span>
                </i>
            </label>

        </div>

    </ion-content>
</ion-view>