<ion-view title="种植模型">
    <ion-content padding="true" class="has-header">

        <div class="times">

            <ul>
                <li> <b></b>
                    <span>9月中旬</span>
                    <ion-item class="item-thumbnail-left" >
                        <img src="img/tomato.jpg">
                        <h2>采收期</h2>
                        <p>2015年9月中旬-10月</p>
                    </ion-item>
                </li>
                <!--b标签不输入内容，span标签内输入时间不限制格式，p标签内输入介绍内容。注意，标签内不能使用div分割-->
                <li> <b></b>
                    <span>9月初</span>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/melon.jpg">
                        <h2>采收期</h2>
                        <p>2015年9月-10月</p>
                    </ion-item>
                </li>
                <li>
                    <b></b>
                    <span>7月上旬</span>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/tomato.jpg">
                        <h2>采收期</h2>
                        <p>2015年7月-9月上旬</p>
                    </ion-item>
                </li>
                <li>
                    <b></b>
                    <span>7月初</span>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/melon.jpg">
                        <h2>采收期</h2>
                        <p>2015年7月</p>
                    </ion-item>
                </li>
                <li>
                    <b></b>
                    <span>6月初</span>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/tomato.jpg">
                        <h2>采收期</h2>
                        <p>2015年6月上旬</p>
                    </ion-item>
                </li>
            </ul>
        </div>

    </ion-content>
</ion-view>