<ion-view title="种植模型">
	<ion-content padding="true" class="has-header">

		<div class="times">

			<ul>
				<li> <b></b>
					<span>9月中旬</span>
					<div class="row">
						<div class="col">
							<img src="img/yaya.jpg" class="listleft"></div>
						<div class="col">
							<img src="img/bozhong.jpg" class="listmiddle"></div>
						<div class="col">
							<img src="img/arrows.jpg" class="listright"></div>
					</div>
					<ion-list class="list-thumbnail-left" >
						<img src="img/line.jpg" class="listbottom"></ion-list>
				</li>
				<!--b标签不输入内容，span标签内输入时间不限制格式，p标签内输入介绍内容。注意，标签内不能使用div分割-->
				<li> <b></b>
					<span>9月初</span>
					<div class="row">
						<div class="col">
							<img src="img/yaya.jpg"></div>
						<div class="col">
							<img src="img/bozhong.jpg"></div>
						<div class="col">
							<img src="img/arrows.jpg"></div>
					</div>
					<ion-list class="list-thumbnail-left" >
						<img src="img/line.jpg" class="listbottom"></ion-list>
				</li>
				<li>
					<b></b>
					<span>7月上旬</span>
					<div class="row">
						<div class="col">
							<img src="img/yaya.jpg"></div>
						<div class="col">
							<img src="img/bozhong.jpg"></div>
						<div class="col">
							<img src="img/arrows.jpg"></div>
					</div>
					<ion-list class="list-thumbnail-left" >
						<img src="img/line.jpg" class="listbottom"></ion-list>
				</li>
				<li>
					<b></b>
					<span>7月初</span>
					<div class="row">
						<div class="col">
							<img src="img/yaya.jpg"></div>
						<div class="col">
							<img src="img/bozhong.jpg"></div>
						<div class="col">
							<img src="img/arrows.jpg"></div>
					</div>
					<ion-list class="list-thumbnail-left" >
						<img src="img/line.jpg" class="listbottom"></ion-list>
				</li>
				<li>
					<b></b>
					<span>6月初</span>
					<div class="row">
						<div class="col">
							<img src="img/yaya.jpg"></div>
						<div class="col">
							<img src="img/bozhong.jpg"></div>
						<div class="col">
							<img src="img/arrows.jpg"></div>
					</div>
					<ion-list class="list-thumbnail-left" >
						<img src="img/line.jpg" class="listbottom"></ion-list>
				</li>
			</ul>
		</div>

	</ion-content>
</ion-view>