<style type="text/css">

    .pos_btn1
    {
        position:absolute;
        left:18%;
        top:14%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no1
    {
        position:absolute;
        left:25%;
        top:13%;
        width: 8%;
    }

    .pos_btn2
    {
        position:absolute;
        left:18%;
        top:20%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no2
    {
        position:absolute;
        left:25%;
        top:19%;
        width: 8%;
    }

    .pos_btn3
    {
        position:absolute;
        left:18%;
        top:25%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no3
    {
        position:absolute;
        left:25%;
        top:24%;
        width: 8%;
    }

    .pos_btn4
    {
        position:absolute;
        left:18%;
        top:30%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no4
    {
        position:absolute;
        left:25%;
        top:29%;
        width: 8%;
    }

    .pos_btn5
    {
        position:absolute;
        left:18%;
        top:35%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no5
    {
        position:absolute;
        left:25%;
        top:34%;
        width: 8%;
    }

    .pos_btn6
    {
        position:absolute;
        left:18%;
        top:40%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no6
    {
        position:absolute;
        left:25%;
        top:39%;
        width: 8%;
    }

    .pos_btn7
    {
        position:absolute;
        left:18%;
        top:45%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no7
    {
        position:absolute;
        left:25%;
        top:44%;
        width: 8%;
    }

    .pos_btn8
    {
        position:absolute;
        left:18%;
        top:50%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no8
    {
        position:absolute;
        left:25%;
        top:49%;
        width: 8%;
    }

    .pos_btn9
    {
        position:absolute;
        left:18%;
        top:55%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no9
    {
        position:absolute;
        left:25%;
        top:54%;
        width: 8%;
    }

    .pos_btn10
    {
        position:absolute;
        left:18%;
        top:60%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no10
    {
        position:absolute;
        left:25%;
        top:59%;
        width: 8%;
    }

    .pos_btn11
    {
        position:absolute;
        left:18%;
        top:65%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no11
    {
        position:absolute;
        left:25%;
        top:64%;
        width: 8%;
    }

    .pos_btn12
    {
        position:absolute;
        left:56%;
        top:14%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no12
    {
        position:absolute;
        left:63%;
        top:11.5%;
        width: 8%;
    }

    .pos_btn13
    {
        position:absolute;
        left:56%;
        top:20%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no13
    {
        position:absolute;
        left:63%;
        top:19%;
        width: 8%;
    }

    .pos_btn14
    {
        position:absolute;
        left:56%;
        top:25%;
        width: 20%;
    }
    .pos_no14
    {
        position:absolute;
        left:63%;
        top:24%;
        width: 8%;
    }
    /*-----------------*/
    .pos_btn15
    {
        position:absolute;
        left:56%;
        top:30%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no15
    {
        position:absolute;
        left:63%;
        top:29%;
        width: 8%;
    }

    .pos_btn16
    {
        position:absolute;
        left:56%;
        top:35%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no16
    {
        position:absolute;
        left:63%;
        top:34%;
        width: 8%;
    }

    .pos_btn17
    {
        position:absolute;
        left:56%;
        top:40%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no17
    {
        position:absolute;
        left:63%;
        top:39%;
        width: 8%;
    }

    .pos_btn18
    {
        position:absolute;
        left:56%;
        top:45%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no18
    {
        position:absolute;
        left:63%;
        top:44%;
        width: 8%;
    }

    .pos_btn19
    {
        position:absolute;
        left:56%;
        top:50%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no19
    {
        position:absolute;
        left:63%;
        top:49%;
        width: 8%;
    }

    .pos_btn20
    {
        position:absolute;
        left:56%;
        top:55%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no20
    {
        position:absolute;
        left:63%;
        top:54%;
        width: 8%;
    }

    .pos_btn21
    {
        position:absolute;
        left:56%;
        top:60%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no21
    {
        position:absolute;
        left:63%;
        top:59%;
        width: 8%;
    }

    .pos_btn22
    {
        position:absolute;
        left:56%;
        top:65%;
        width: 20%;
        /*height: 4%;*/
    }
    .pos_no22
    {
        position:absolute;
        left:63%;
        top:64%;
        width: 8%;
    }

    /*.pos_btn23*/
    /*{*/
    /*position:absolute;*/
    /*left:56%;*/
    /*top:57.5%;*/
    /*width: 16.4%;*/
    /*height: 4%;*/
    /*}*/
    /*.pos_no23*/
    /*{*/
    /*position:absolute;*/
    /*left:63%;*/
    /*top:56.5%;*/
    /*width: 5.5%;*/
    /*}*/

    /*.pos_btn24*/
    /*{*/
    /*position:absolute;*/
    /*left:56%;*/
    /*top:62.5%;*/
    /*width: 16.4%;*/
    /*height: 4%;*/
    /*}*/
    /*.pos_no24*/
    /*{*/
    /*position:absolute;*/
    /*left:63%;*/
    /*top:61.5%;*/
    /*width: 5.5%;*/
    /*}*/

    /*.pos_btn25*/
    /*{*/
    /*position:absolute;*/
    /*left:56%;*/
    /*top:67.5%;*/
    /*width: 16.4%;*/
    /*height: 4%;*/
    /*}*/
    /*.pos_no25*/
    /*{*/
    /*position:absolute;*/
    /*left:63%;*/
    /*top:66.5%;*/
    /*width: 5.5%;*/
    /*}*/

    /*.pos_btn26*/
    /*{*/
    /*position:absolute;*/
    /*left:56%;*/
    /*top:72.5%;*/
    /*width: 16.4%;*/
    /*height: 4%;*/
    /*}*/
    /*.pos_no26*/
    /*{*/
    /*position:absolute;*/
    /*left:63%;*/
    /*top:71.5%;*/
    /*width: 5.5%;*/
    /*}*/

</style>
﻿
<ion-view view-title="土地市场">

    <ion-nav-buttons side="left">
        <button class="button button-clear ion-chevron-left button-anywide" ng-click="gotoHome()">&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </ion-nav-buttons>

    <ion-scroll
            class="has-header"
            direction="xy"
            paging="false"
            has-bouncing="false"
            scrollbar-x="true"
            scrollbar-y="true"
            zooming="true"
            min-zoom="1"
            max-zoom="10"
            style="width: 100%; height: 100%"
            ng-init="init()"
            >

        <img src="img/dsbl-land-bg.png" />

        <!-- ******************************** -->
        <div class="pos_btn1" ng-click="zoneOneClick(1)">
            <img src="img/dsbl-land_empty.png"   ng-if="data.zone[0].state == 1 && data.zone[0].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-if="data.zone[0].state != 1 || data.zone[0].openstate == 2" width="200"/>
        </div>

        <div class="pos_no1" ng-click="zoneOneClick(1)">
            <img src="img/dsbl-land-NoIcon1.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn2">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(2)" ng-if="data.zone[1].state == 1 && data.zone[1].openstate != 2" width="200"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(2)" ng-if="data.zone[1].state != 1 || data.zone[1].openstate == 2"/>
        </div>

        <div class="pos_no2" ng-click="zoneOneClick(2)">
            <img src="img/dsbl-land-NoIcon2.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn3">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(3)" ng-if="data.zone[2].state == 1 && data.zone[2].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(3)" ng-if="data.zone[2].state != 1 || data.zone[2].openstate == 2"/>
        </div>

        <div class="pos_no3" ng-click="zoneOneClick(3)">
            <img src="img/dsbl-land-NoIcon3.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn4">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(4)" ng-if="data.zone[3].state == 1 && data.zone[3].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(4)" ng-if="data.zone[3].state != 1 || data.zone[3].openstate == 2"/>
        </div>

        <div class="pos_no4" ng-click="zoneOneClick(4)">
            <img src="img/dsbl-land-NoIcon4.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn5">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(5)" ng-if="data.zone[4].state == 1 && data.zone[4].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(5)" ng-if="data.zone[4].state != 1 || data.zone[4].openstate == 2"/>
        </div>

        <div class="pos_no5" ng-click="zoneOneClick(5)">
            <img src="img/dsbl-land-NoIcon5.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn6">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(6)" ng-if="data.zone[5].state == 1 && data.zone[5].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(6)" ng-if="data.zone[5].state != 1 || data.zone[5].openstate == 2"/>
        </div>

        <div class="pos_no6" ng-click="zoneOneClick(6)">
            <img src="img/dsbl-land-NoIcon6.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn7">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(7)" ng-if="data.zone[6].state == 1 && data.zone[6].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(7)" ng-if="data.zone[6].state != 1 || data.zone[6].openstate == 2"/>
        </div>

        <div class="pos_no7" ng-click="zoneOneClick(7)">
            <img src="img/dsbl-land-NoIcon7.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn8">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(8)" ng-if="data.zone[7].state == 1 && data.zone[7].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(8)" ng-if="data.zone[7].state != 1 || data.zone[7].openstate == 2"/>
        </div>

        <div class="pos_no8" ng-click="zoneOneClick(8)">
            <img src="img/dsbl-land-NoIcon8.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn9">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(9)" ng-if="data.zone[8].state == 1 && data.zone[8].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(9)" ng-if="data.zone[8].state != 1 || data.zone[8].openstate == 2"/>
        </div>

        <div class="pos_no9" ng-click="zoneOneClick(9)">
            <img src="img/dsbl-land-NoIcon9.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn10">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(10)" ng-if="data.zone[9].state == 1 && data.zone[9].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(10)" ng-if="data.zone[9].state != 1 || data.zone[9].openstate == 2"/>
        </div>

        <div class="pos_no10" ng-click="zoneOneClick(10)">
            <img src="img/dsbl-land-NoIcon10.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn11">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(11)" ng-if="data.zone[10].state == 1 && data.zone[10].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(11)" ng-if="data.zone[10].state != 1 || data.zone[10].openstate == 2"/>
        </div>

        <div class="pos_no11" ng-click="zoneOneClick(11)">
            <img src="img/dsbl-land-NoIcon11.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn12">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(12)" ng-if="data.zone[11].state == 1 && data.zone[11].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(12)" ng-if="data.zone[11].state != 1 || data.zone[11].openstate == 2"/>
        </div>

        <div class="pos_no12" ng-click="zoneOneClick(12)">
            <img src="img/dsbl-land-NoIcon12.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn13">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(13)" ng-if="data.zone[12].state == 1 && data.zone[12].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(13)" ng-if="data.zone[12].state != 1 || data.zone[12].openstate == 2"/>
        </div>

        <div class="pos_no13" ng-click="zoneOneClick(13)">
            <img src="img/dsbl-land-NoIcon13.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn14">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(14)" ng-if="data.zone[13].state == 1 && data.zone[13].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(14)" ng-if="data.zone[13].state != 1 || data.zone[13].openstate == 2"/>
        </div>

        <div class="pos_no14" ng-click="zoneOneClick(14)">
            <img src="img/dsbl-land-NoIcon14.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn15">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(15)" ng-if="data.zone[14].state == 1 && data.zone[14].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(15)" ng-if="data.zone[14].state != 1 || data.zone[14].openstate == 2"/>
        </div>

        <div class="pos_no15" ng-click="zoneOneClick(15)">
            <img src="img/dsbl-land-NoIcon15.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn16">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(16)" ng-if="data.zone[15].state == 1 && data.zone[15].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(16)" ng-if="data.zone[15].state != 1 || data.zone[15].openstate == 2"/>
        </div>

        <div class="pos_no16" ng-click="zoneOneClick(16)">
            <img src="img/dsbl-land-NoIcon16.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn17">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(17)" ng-if="data.zone[16].state == 1 && data.zone[16].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(17)" ng-if="data.zone[16].state != 1 || data.zone[16].openstate == 2"/>
        </div>

        <div class="pos_no17" ng-click="zoneOneClick(17)">
            <img src="img/dsbl-land-NoIcon17.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn18">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(18)" ng-if="data.zone[17].state == 1 && data.zone[17].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(18)" ng-if="data.zone[17].state != 1 || data.zone[17].openstate == 2"/>
        </div>

        <div class="pos_no18" ng-click="zoneOneClick(18)">
            <img src="img/dsbl-land-NoIcon18.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn19">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(19)" ng-if="data.zone[18].state == 1 && data.zone[18].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(19)" ng-if="data.zone[18].state != 1 || data.zone[18].openstate == 2"/>
        </div>

        <div class="pos_no19" ng-click="zoneOneClick(19)">
            <img src="img/dsbl-land-NoIcon19.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn20">
            <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(20)" ng-if="data.zone[19].state == 1 && data.zone[19].openstate != 2"/>
            <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(20)" ng-if="data.zone[19].state != 1 || data.zone[19].openstate == 2"/>
        </div>

        <div class="pos_no20" ng-click="zoneOneClick(20)">
            <img src="img/dsbl-land-NoIcon20.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn21">
        <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(21)" ng-if="data.zone[20].state == 1 && data.zone[20].openstate != 2"/>
        <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(21)" ng-if="data.zone[20].state != 1 || data.zone[20].openstate == 2"/>
        </div>

        <div class="pos_no21" ng-click="zoneOneClick(21)">
        <img src="img/dsbl-land-NoIcon21.png"/>
        </div>
        <!-- ******************************** -->
        <div class="pos_btn22">
        <img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(22)" ng-if="data.zone[21].state == 1 && data.zone[21].openstate != 2"/>
        <img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(22)" ng-if="data.zone[21].state != 1 || data.zone[21].openstate == 2"/>
        </div>

        <div class="pos_no22" ng-click="zoneOneClick(22)">
        <img src="img/dsbl-land-NoIcon22.png"/>
        </div>
        <!-- ******************************** -->
        <!--<div class="pos_btn23">-->
        <!--<img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(23)" ng-if="data.zone[22].state == 1 && data.zone[22].openstate != 2"/>-->
        <!--<img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(23)" ng-if="data.zone[22].state != 1 || data.zone[22].openstate == 2"/>-->
        <!--</div>-->

        <!--<div class="pos_no23" ng-click="zoneOneClick(23)">-->
        <!--<img src="img/dsbl-land-NoIcon23.png"/>-->
        <!--</div>-->
        <!-- ******************************** -->
        <!--<div class="pos_btn24">-->
        <!--<img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(24)" ng-if="data.zone[23].state == 1 && data.zone[23].openstate != 2"/>-->
        <!--<img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(24)" ng-if="data.zone[23].state != 1 || data.zone[23].openstate == 2"/>-->
        <!--</div>-->

        <!--<div class="pos_no24" ng-click="zoneOneClick(24)">-->
        <!--<img src="img/dsbl-land-NoIcon24.png"/>-->
        <!--</div>-->
        <!-- ******************************** -->
        <!--<div class="pos_btn25">-->
        <!--<img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(25)" ng-if="data.zone[24].state == 1 && data.zone[24].openstate != 2"/>-->
        <!--<img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(25)" ng-if="data.zone[24].state != 1 || data.zone[24].openstate == 2"/>-->
        <!--</div>-->

        <!--<div class="pos_no25" ng-click="zoneOneClick(25)">-->
        <!--<img src="img/dsbl-land-NoIcon25.png"/>-->
        <!--</div>-->
        <!-- ******************************** -->
        <!--<div class="pos_btn26">-->
        <!--<img src="img/dsbl-land_empty.png"   ng-click="zoneOneClick(26)" ng-if="data.zone[25].state == 1 && data.zone[25].openstate != 2"/>-->
        <!--<img src="img/dsbl-land_allSell.png" ng-click="zoneOneClick(26)" ng-if="data.zone[25].state != 1 || data.zone[25].openstate == 2"/>-->
        <!--</div>-->

        <!--<div class="pos_no26" ng-click="zoneOneClick(26)">-->
        <!--<img src="img/dsbl-land-NoIcon26.png"/>-->
        <!--</div>-->
        <!-- ******************************** -->
    </ion-scroll>
</ion-view>