<!--部落市场（批发价格页面）-->
<style>
    .i-body{width: 94%;margin: 0 auto;padding-top: 20px}
    .i-body table tr{height: 30px;line-height: 30px}
    .i-body table tr:nth-child(odd){background-color: #fff}
    .i-body table tr:nth-child(even){background-color: #E8E8E8}
    .i-body table tr td{font-size: 14px;color: #000}
    .i-body table tr td img{width: 15px;height: 15px}
</style>
<div class="bar bar-header bar-anywide">
    <button class="button button-clear ion-chevron-left button-anywide" ng-click="gotoHome()">&nbsp;&nbsp;&nbsp;&nbsp;</button>
    <h1 class="title">今日指导价格</h1>
</div>
<ion-view hide-nav-bar="true" view-title="今日指导价格">
    <ion-content class="has-header" style="background-color: #F2F2F2">
        <div class="i-body" ng-init="getCropList()">
            <table style="width: 100%">
                <tr ng-repeat="list in data.list">
                    <td style="width: 60%;padding: 10px">{{list.crop_name}}</td>
                    <td style="width: 10%" ng-show="list.flag == 2 "><img src="img/tribemarket/p1.png"/></td>
                    <td style="width: 10%" ng-show="list.flag == 1 "><img src="img/tribemarket/p2.png"/></td>
                    <td style="width: 10%" ng-show="list.flag == 0 "></td>
                    <td style="width: 30%">{{list.crop_price}}元/斤</td>
                </tr>
                <!--<tr>-->
                    <!--<td style="width: 60%;padding: 10px">紫甘藍</td>-->
                    <!--<td style="width: 10%"><img src="img/tribemarket/p2.png"/></td>-->
                    <!--<td style="width: 30%">2.25元/斤</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td style="width: 60%;padding: 10px">小白菜</td>-->
                    <!--<td style="width: 10%"><img src="img/tribemarket/p1.png"/></td>-->
                    <!--<td style="width: 30%">1.25元/斤</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td style="width: 60%;padding: 10px">韭菜</td>-->
                    <!--<td style="width: 10%"><img src="img/tribemarket/p2.png"/></td>-->
                    <!--<td style="width: 30%">0.87元/斤</td>-->
                <!--</tr>-->
            </table>
        </div>
    </ion-content>
</ion-view>